Repository Andrej-Kautsevich/eCommerce-application: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --quiet --fix

chore: add stylelint
  .lintstagedrc
  .stylelintrc.cjs
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

chore: add vitest
  package-lock.json
  package.json
  vite.config.ts
Due: prettier --write --ignore-unknown, eslint --quiet --fix

chore: add types
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

chore: add redux
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

chore: add react-router-dom
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

Feature/repository setup (#1)
  .github/pull_request_template.md
  public/readme.md
  src/api/readme.md
  src/app/readme.md
  src/assets/icons/readme.md
  src/assets/images/readme.md
  src/components/readme.md
  src/pages/readme.md
  src/shared/readme.md
Due: none

chore: refactore project folder structure
  src/shared/assets/icons/readme.md
  src/shared/assets/images/readme.md
  src/shared/tests/readme.md
  src/shared/types/readme.md
  src/shared/ui/readme.md
Due: none

fix: fix ESLint errors
  .eslintrc.cjs
  package-lock.json
  package.json
  src/app/App.tsx
  src/app/readme.md
  src/main.tsx
Due: prettier --write --ignore-unknown, eslint --quiet --fix

Feature/development environment configuration (#2)
  .eslintrc.cjs
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  .lintstagedrc
  .prettierrc.cjs
  .stylelintrc.cjs
  commitlint.config.js
  index.html
  package-lock.json
  package.json
  src/app/App.tsx
  src/main.tsx
  src/shared/assets/icons/readme.md
  src/shared/assets/images/readme.md
  src/shared/tests/readme.md
  src/shared/types/readme.md
  src/shared/ui/readme.md
  src/vite-env.d.ts
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
Due: prettier --write --ignore-unknown, eslint --quiet --fix

chore: add ESLint scripts
  package.json
Due: prettier --write --ignore-unknown

chore: add Prettier script
  .eslintrc.cjs
  .github/pull_request_template.md
  .lintstagedrc
  README.md
  package.json
Due: prettier --write --ignore-unknown

chore: add test scripts
  .vscode/settings.json
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

Feature/development scripts (#3)
  .eslintrc.cjs
  .github/pull_request_template.md
  .lintstagedrc
  .vscode/settings.json
  README.md
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

docs: add decription about application for redme.md file
  README.md
Due: none

docs: add description for key pages and technology stack
  README.md
Due: none

docs: add instructions for installing project locally
  README.md
Due: none

docs: fix `- -React` to `- React` on 17 line in readme.md file
  README.md
Due: none

docs: remove `Go to folder`
  README.md
Due: none

Comprehensive README (#5)
  README.md
Due: none

fix: fix project build
  src/main.tsx
Due: prettier --write --ignore-unknown, eslint --quiet --fix

chore: add env example
  .env.example
Due: none

docs: update readme
  README.md
Due: none

feat: initial components for login tab
  src/components/loginInput.tsx
  src/components/loginTab.tsx
  src/components/passInput.tsx
  src/components/rememberMe.tsx
  src/components/singInButton.tsx
Due: prettier --write --ignore-unknown, eslint --quiet --fix

refactor: replace all componets to login folder
  src/components/login/loginInput.tsx
  src/components/login/loginTab.tsx
  src/components/login/passInput.tsx
  src/components/login/rememberMe.tsx
  src/components/login/singInButton.tsx
Due: prettier --write --ignore-unknown, eslint --quiet --fix

feat: add basic components for login section
  src/components/login/emailInput.tsx
  src/components/login/loginInput.tsx
  src/components/login/loginTab.tsx
  src/components/login/passInput.tsx
  src/components/login/rememberMe.tsx
  src/components/login/signInButton.tsx
  src/components/login/singInButton.tsx
Due: prettier --write --ignore-unknown, eslint --quiet --fix

test: add app render test
  package-lock.json
  package.json
  src/app/App.test.tsx
  src/test/test-setup.ts
  vite.config.ts
Due: prettier --write --ignore-unknown, eslint --quiet --fix

feat: add typecheck to pre-push hook
  .husky/pre-push
Due: none

feat: remove unnecessary entries from .gitignore
  .gitignore
Due: none

feat: add components rendering
  src/app/App.tsx
  src/components/login/loginTab.tsx
Due: prettier --write --ignore-unknown, eslint --quiet --fix

Bugfix/fix project build and readme file (#6)
  .env.example
  .gitignore
  .husky/pre-push
  README.md
  package-lock.json
  package.json
  src/app/App.test.tsx
  src/main.tsx
  src/test/test-setup.ts
  vite.config.ts
Due: prettier --write --ignore-unknown, eslint --quiet --fix

chore: install commercetools sdk
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

feat: add material ui layouts
  package-lock.json
  package.json
  src/app/App.tsx
  src/components/login/emailInput.tsx
  src/components/login/loginTab.tsx
  src/components/login/passInput.tsx
  src/components/login/rememberMe.tsx
  src/components/login/signInButton.tsx
  src/components/reg/registration.tsx
Due: prettier --write --ignore-unknown, eslint --quiet --fix

feat: remove bad lines
  src/components/login/loginTab.tsx
Due: prettier --write --ignore-unknown, eslint --quiet --fix

feat: update package file
  package-lock.json
Due: prettier --write --ignore-unknown

feat: add create account button
  src/components/login/loginTab.tsx
Due: prettier --write --ignore-unknown, eslint --quiet --fix

feat: add apiRoot
  src/api/apiRoot.ts
  src/api/buildClient.ts
  src/api/readme.md
  src/vite-env.d.ts
Due: prettier --write --ignore-unknown, eslint --quiet --fix

feat: add button to test api request
  src/app/App.tsx
  vite.config.ts
Due: prettier --write --ignore-unknown, eslint --quiet --fix

fix: fix node-fetch error
  package-lock.json
  package.json
  vite.config.ts
Due: prettier --write --ignore-unknown, eslint --quiet --fix

feat: add middleware for logging in dev mode
  src/api/buildClient.ts
  src/app/App.tsx
Due: prettier --write --ignore-unknown, eslint --quiet --fix

feat: add yup library to project
  package-lock.json
  package.json
  src/components/login/loginTab.tsx
Due: prettier --write --ignore-unknown, eslint --quiet --fix

Path conditions:
  prettier --write --ignore-unknown: any of: *.{json,js,ts,jsx,tsx,html}
  eslint --quiet --fix: any of: *.{js,ts,jsx,tsx}
